.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 186px;
  margin-bottom: 30px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
